node_modules/
dist/
android/app/build/
android/build/
android/.gradle/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
android/local.properties
*.jks
*.keystore
